/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */


/* Reset the container */

.container, .container-fluid {
  width: 970px;
  max-width: none !important;
  margin: 0 auto;
}

.section, footer {
  min-width: 970px;
}

body>div[style="min-height: 768px;"] {
  display: none;
}


/* Always float the navbar header */

.navbar-header {
  float: left;
}


/* Undo the collapsing navbar */

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
  border-top: 0;
}

.navbar-toggle {
  display: none;
}


/* Always apply the floated nav */

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav>li {
  float: left;
}

.navbar-nav>li>a {
  padding: 15px;
}

.hidden-xs {
  display: block !important;
}

.visible-xs {
  display: none !important;
}

#browser-notification {
  background-color: red;
  color: #fff;
  margin-bottom: 0;
}

#browser-notification a {
  color: #fff;
  text-decoration: underline;
}
